/node_modules
/.run
/.hvigor
/.idea
/local.properties
**/oh_modules
**/build
oh-package-lock.json5
/signature/camera.p7b
/signature/hap-sign-tool.jar
/signature/hapsign-online-plugin.jar
**/.test
**/.preview
.clang*
*.cxx
settings.json
**/BuildProfile.ets
Extrace_Here.rar
/.appanalyzer
*/BuildProfile.ets