*.iml
.gradle
/local.properties
/.idea/caches
/.idea/previewer
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/entry/.preview
.cxx
/node_modules
/product/phone/build
/product/tablet/build
/product/wearable/build
/product/phone/.preview
/product/tablet/.preview
